<%= bootstrap_form_for(@node, remote: true) do |f| %>
	<div class="field">
	  <%= f.text_field :name %>
		<%= f.text_field :description %>
		<%= f.text_field :cost_code %>
		<%= link_to 'Back', :back, class: 'btn btn-primary' %>
		<%= f.submit("Update") %>
	</div>
<% end %>
