<%= render "flashes" %>
<%= bootstrap_form_for(@nodeform, remote: true, url: node_path(@node), method: :put) do |f| %>
  <div class="field">
    <%= render "node_form", f: f, write_permission: check_write_permission_for_node(@node), edit_permissions: can_edit_permission_for(@node) %>
    <%= link_to 'Back', :back, class: 'btn btn-primary' %>
    <%= f.submit("Update", disabled: !check_write_permission_for_node(@node)) %>
  </div>
<% end %>
