<% @node.parents.each do |p| %>
  <%= linknode(p) %> /
<% end %>
<b><%= @node.name %></b>

<% if @node.root? %>
  <h2>Sanger Programs</h2>
<% else %>
  <h2><%= @node.name %></h2>
<% end %>

<% @node.attributes.slice("description", "cost_code").map do |attribute, name| %>
  <% if name.present? %>
    <p><b><%= attribute.gsub('_', ' ').capitalize %>:</b> <%= name %></p>
  <% end %>
<% end %>

<% if @node.nodes.empty? %>
  None
<% else %>
  <ul>
    <% @node.nodes.each do |c| %>
	     <li>
          <b><%= linknode(c) %></b>
            <% unless @node.root? %>
                (<%= edit_node(c) %> /
                <%= delete_node(c) %>)
            <% end %>
        </li>
    <% end %>
  </ul>
<% end %>

<% unless @node.root? %>
  <h4>Add child node</h4>
  <%= bootstrap_form_tag(url: nodes_path, method: "post") do |f| %>
    <%= f.text_field(:name, {autocomplete: 'off'}) %>
    <%= f.text_field :description %>
    <%= f.text_field :cost_code %>
    <%= hidden_field_tag :parent_id, @node.id %>
    <%= f.submit("Create") %>
  <% end %>
<% end %>

