<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <div class="page-header">
        <h1>Aker <small>WTSI Research Activity Model</small></h1>
      </div>

      <ul class="nav nav-tabs" id="tree-tab">
        <li class="active"><a data-toggle="tab" href="#home">List</a></li>
        <li><a data-toggle="tab" href="#hierarchy">Tree</a></li>
      </ul>

      <div class="tab-content">

        <div id="home" class="tab-pane active">
          <br/>
          <div class="col-md-4">
            <%= render 'side_menu' %>
          </div>

          <div class="col-md-8">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>

        <div id="hierarchy" class="tab-pane">


          <form id="edit-panel" style="padding-top:1em;" class="form-inline">
            <div class="form-group">
              <label for="selected-node" class="selected-node-group">Selected Node:</label>
              <input type="text" autocomplete="off" class="form-control" id="selected-node" class="selected-node-group" disabled="disabled">
            </div>

            <div class="form-group">
              <label for="new-node">New Node:</label>
              <input type="text" autocomplete="off" class="form-control" id="new-node">
            </div>

            <button type="button" class="btn btn-success" id="btn-add-nodes">Add Child Node</button>
            <button type="button" class="btn btn-default" id="btn-reset">Reset</button>
            <button type="button" class="btn btn-danger"  id="btn-delete-nodes">Delete</button>
          </form>

          <br/>

          <div class="modal fade" id="editNodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Edit Node</h4>
                </div>
                <div class="modal-body">
                  Form will go here
                </div>
              </div>
            </div>
          </div>
          <div id="tree-hierarchy"></div>

      </div>

    </div>

  </body>
</html>

