<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <div class="page-header">
        <h1>Aker <small>Study Management</small></h1>
      </div>

      <div class="row">
        <div id="tree">
                    
        </div>

        <div class="col-md-8">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          
          <%= yield %>
        </div>
      </div>

    </div>

  </body>
</html>

