<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <div class="page-header">
        <h1>Aker <small>Study Management</small></h1>
      </div>

      <ul class="nav nav-tabs" id="tree-tab">
        <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
        <li><a data-toggle="tab" href="#hierarchy">Tree Hierarchy</a></li>
      </ul>

      <div class="tab-content">

        <div id="home" class="tab-pane active">
          <br/>
          <div class="col-md-4">
            <%= render 'side_menu' %>
          </div>

          <div class="col-md-8">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </div>
        </div>

        <div id="hierarchy" class="tab-pane">
          <br/>
          <div id="tree-hierarchy"></div>
        </div>

      </div>

    </div>

  </body>
</html>

