<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="container-fluid">
      <div class="page-header">
        <h1>Aker <small>WTSI Research Activity Model</small>
      <div class="col-md-1 pull-right">
        <%= yield(:title_button) if content_for?(:title_button) %>
        <%= link_to 'Log Out', destroy_user_session_url, class: 'btn btn-default vcenter', style: 'right: 0px', method: :delete if user_signed_in? %>
        <br />
      </div>

      <%= yield %>

    </div>

  </body>
</html>

