<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
    <%# navbar comes from aker_shared_navbar engine %>
    <%= render partial: "navbar" %>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-8">
          <h1>WTSI Research Activity Model</h1>
        </div>
        <div class="col-md-4">
          <div type="button" class="btn btn-warning pull-right" id="reset-button" data-user-preferences-expand="true">Expand Tree</div>
        </div>
      </div>
      <%= yield %>
    </div>
    <footer style="text-align:center">
      <% if Projects::Application::VERSION.present? %>
        <%= 'Version: ' + Projects::Application::VERSION[0..6] %>
      <% end %>
    </footer>
  </body>
</html>
